*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background: radial-gradient(circle at top left, #B0DAB9, #DAD299)
}
.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.content-container {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  color: #666;
  background: #fff;
  width: 600px;
  grid-column-start: 1;
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-gap: 1.5em;
  padding: 1em;
  grid-template-areas:
  "header"
  "add-items-box"
  "todos"
  "footer-buttons";
}


ul {
  list-style-type: none;
  list-style-position: outside;
}

ul li {
  font-size: 1em;
  padding: 0.2em 0;
}

input {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 0.5em 0.5em;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  
  color: #555;
}

button {
  /* display: inline-block; */
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  text-decoration: none;
  background: #745c97;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 200ms ease-in-out, 
              transform 120ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #644d88;
}

button:focus {
  outline: 0;
} 

button:active {
  transform: scale(0.99);
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  grid-area: footer-buttons;
  /* justify-self: center; */
}

.main-head {
  grid-area: header;
}

.todos-box {
  grid-area: todos;
  min-height: 250px;

}

.add-items-box {
  grid-area: add-items-box;
}

@media all and (max-width: 736px) {
  .content-container {
    width: 500px;
  }
}

@media all and (max-width: 480px) {
  .content-container {
    width: 100%;
  }
}


