*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  font-size: 18px;

  background: radial-gradient(circle at top left, #a8caba, #5d4157) fixed;
}

.wrapper {
  display: grid;

  height: 100vh;

  place-items: center;
}

.content {
  font-family: 'Lato', sans-serif;

  display: flex;
  flex-direction: column;

  width: 600px;
  padding: 1.5em;

  color: #555;
  border: 2px solid #f2f2f2;

  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.linethrough {
  text-decoration: line-through #004d50;
}

input[type='checkbox'] {
  visibility: hidden;
}

.custom-checkbox {
  position: relative;

  padding: 0.5rem;

  width: 28px;
  height: 28px;

  background: #006064;
  cursor: pointer;
}

.custom-checkbox:hover {
  background: #005255;
}

.custom-checkbox label {
  position: absolute;
  top: 2px;
  left: 2px;

  width: 24px;
  height: 24px;

  cursor: pointer;

  background: #fff;
}

.custom-checkbox label:after {
  position: absolute;
  top: 7px;
  left: 5px;

  width: 14px;
  height: 7px;

  content: '';
  transform: rotate(-45deg);

  opacity: 0;
  border: 3px solid #006064;
  border-top: none;
  border-right: none;
  background: #fff;
}

.custom-checkbox input[type='checkbox']:checked + label:after {
  opacity: 1;
}

form {
  display: flex;
  width: 100%;
}

input {
  font-size: 1em;

  padding: 0.75em 1em;

  transition: background 130ms ease-in-out, border-color 130ms ease-in-out,
    transform 120ms ease;

  color: #555;
}

input[type='text'] {
  border: 2px solid #006064;

  flex-basis: 80%;
}

input[type='text']:hover,
input[type='text']:focus {
  border: 2px solid #005255;
}

input[type='submit'] {
  cursor: pointer;

  color: #fff;
  border: 2px solid #006064;

  background: #006064;
}

input[type='submit']:hover {
  color: #fff;
  border: 2px solid #005255;

  background: #005255;
}

input[type='submit']:active {
  transform: scale(0.99);
}

.todos-box {
  margin-top: 1.5rem;

  min-height: 250px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 4rem;
  padding: 0.75rem 0;

  border-bottom: 1px solid #f1f1f1;
}

span {
  display: inline-block;

  max-width: 420px;

  word-wrap: break-word;
}

div.todo-name {
  flex-basis: 80%;
  align-content: flex-start;
}

.delete-btn {
  font-size: 1.5em;

  cursor: pointer;
  transition: opacity 130ms ease;

  opacity: 0.5;
  color: #999;
  padding: 0.5rem;
}

.delete-btn:hover,
.delete-btn:focus {
  opacity: 1;
}

button {
  font-size: 1em;

  padding: 0.5em 1em;

  cursor: pointer;
  transition: background 130ms ease-in-out, transform 130ms ease;

  color: #006064;
  border: 2px solid #006064;

  background-color: transparent;
  flex-basis: 25%;
}

button:hover,
button:focus {
  color: #fff;
  background: #006064;
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.99);
}

.footer-buttons {
  display: flex;

  justify-content: space-between;

  margin-top: 2.5rem;
}

@media all and (max-width: 736px) {
  .content {
    width: 500px;
  }

  span {
    max-width: 330px;
  }
}

@media all and (max-width: 480px) {
  body {
    font-size: 15px;
  }

  h1 {
    margin: 1rem 0;
    font-size: 24px;
  }

  .content {
    width: 95%;
    height: 100vh;

    padding: 1rem;

    border: none;

    box-shadow: none;

    justify-content: space-between;
  }

  .add-items-box {
    padding: 0;
  }

  .todos-box {
    color: #555;
    margin-top: 1rem;

    background: #fff;
    flex-grow: 2;
  }

  .custom-checkbox {
    margin: 10px 15px 10px 0;
  }

  span {
    max-width: 60vw;
  }

  .footer-buttons {
    margin-bottom: 1rem;
  }
}
