*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at top left, #fbc7d4, #9796f0) fixed;
  font-size: 18px;
}

.wrapper {
  display: grid;
  height: 100vh;
  place-items: center;
}

.content-container {
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
  color: #777;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  width: 600px;
  padding: 1em;
  width: 600px;
}

input[type=checkbox] {
  visibility: hidden;
}

.custom-checkbox {
  border-radius:10%;
  width: 30px;
  height: 30px;
  background: #ddd;
  margin: 10px 20px 10px 5px;
  position: relative;
}

.custom-checkbox label {
  border-radius: 10%;
  cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: rgb(255, 255, 255);
}

.custom-checkbox label:after {
  opacity: 0;
  content: '';
  height: 16px;
  width: 30px;
  position: absolute;
  top: 0px;
  left: -1px;
  border: 6px solid rgb(37, 185, 168);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
}

.custom-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

input {
  border-radius: 30px;
  color: #555;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  
  padding: 0.5em 1em;
  transition: background 200ms ease-in-out, 
  border-color 200ms ease-in-out, 
  transform 120ms ease;
}

input[type="text"] {
  border: 2px solid #69d1c5;
}

input[type="text"]:hover,
input[type="text"]:focus {
  border: 2px solid rgb(37, 185, 168);
 }

input[type="submit"] {
  background: rgb(37, 185, 168);
  border: 2px solid rgb(37, 185, 168);
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background: rgb(35, 173, 157);
  border: 2px solid rgb(35, 173, 157);
  color: #fff;
}

input[type="submit"]:active {
    transform: scale(0.99);
}

ul {
  list-style-position: outside;
  list-style-type: none;
}

ul li {
  align-items: center;
  display: flex;
  font-size: 1em;
  justify-content: flex-start; 
  padding: 0.3em 0;
  border-bottom: 1px solid #f1f1f1;
}

span {
  display: block;
  max-width: 450px;
}

.delete-btn {
  color: #999;
  opacity: 0.5;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 10px;
  transition: opacity 200ms ease;
}

.delete-btn:hover,
.delete-btn:focus {
  opacity: 1;
}

button {
  background: #69d1c5;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  transition: background 200ms ease-in-out, 
              transform 120ms ease;
}

button:hover,
button:focus {
  background: rgb(37, 185, 168);
}

button:focus {
  outline: 0;
} 

button:active {
  transform: scale(0.99);
}

.footer-buttons {
  display: flex;
  justify-content: space-evenly;
}

.main-head {
  margin-bottom: 1em;
}

.todos-box {
  min-height: 250px;
  position: relative;
  flex-grow: 2;
  margin-bottom: 2em;
}

.add-items-box {
  margin-bottom: 2em;
}

@media all and (max-width: 736px) {
  .content-container {
    width: 500px;
  }

  span {
    max-width: 330px;
  }
}

@media all and (max-width: 480px) {
  body {
    background: linear-gradient(#ffffff 60%, #fdfdfd) fixed;
    font-size: 16px;
  }

  button {
    background-color: #fdfdfd;
    border: 2px solid #69d1c5;
    color: #69d1c5;
  }

  button:hover,
  button:focus {
    background-color: #f5f5f5;
  }

  .content-container {
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 20px 20px 20px 20px;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    color: #555;
  }

  span {
    max-width: 60vw; 
  }
}


